@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="carousel slide carousel-fade min-vh-100" data-ride="carousel" data-interval="3000" data-pause="false">
    <div class="carousel-inner min-vh-100">
        <div class="carousel-item min-vh-100 active">
            <img class="d-block w-100 h-100" src="~/css/backgrounds/Background.png" alt="First slide">
            <div class="carousel-caption text-center">
                <h1>Edit Images Online</h1>
                <p>It’s free, easy, and convinient</p>
                <p><a class="btn btn-lg btn btn-outline-primary" role="button" asp-controller="Image" asp-action="Index">Get started</a></p>
            </div>
        </div>
        <div class="carousel-item min-vh-100">
            <img class="d-block w-100 h-100" src="~/css/backgrounds/Background_0.png" alt="Second slide">
            <div class="carousel-caption text-center">
                <h1>Edit Images Online</h1>
                <p>It’s free, easy, and convinient</p>
                <p><a class="btn btn-lg btn-outline-primary" role="button" asp-controller="Image" asp-action="Index">Get started</a></p>
            </div>
        </div>
        <div class="carousel-item min-vh-100">
            <img class="d-block w-100 h-100" src="~/css/backgrounds/Background_3.png" alt="Forth slide">
            <div class="carousel-caption text-center">
                <h1>Edit Images Online</h1>
                <p>It’s free, easy, and convinient</p>
                <p><a class="btn btn-lg btn btn-outline-primary" role="button" asp-controller="Image" asp-action="Index">Get started</a></p>
            </div>
        </div>
    </div>
</div>
